<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Artifacts</a></li>
  <li><a href="#!">Bonsai Trees</a></li>
  <li><a href="#!">Books</a></li>
  <li class="divider"></li>
  <li><a href="#!">Watches</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Home</a></li>
      <li><a href="badges.html">Login</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"
          >Products<i class="material-icons right">arrow_drop_down</i></a
        >
      </li>
    </ul>
  </div>
</nav>
